# Core Flask Stack
Flask==2.3.2
Werkzeug==2.3.7
Jinja2==3.1.6
itsdangerous==2.1.2
click==8.1.7

# Database & ORM
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.23
alembic==1.12.0
greenlet==3.0.0

# Flask Extensions
Flask-Migrate==4.0.5
Flask-Caching==2.1.0
flask-cors==3.0.10
flask-babel==3.1.0
Flask-WTF==1.2.1
Flask-Session==0.4.0
# Security & Authentication
cryptography==41.0.0
blinker==1.7.0

# Utilities
python-dotenv==1.0.0
requests==2.31.0
python-barcode==0.15.1
pillow==10.0.0
pytz==2023.3

# Production
gunicorn==21.2.0

# Required dependencies
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
typing_extensions==4.7.1
urllib3==2.0.5
wheel==0.41.2
setuptools==80.0.0
gunicorn==21.2.0
APScheduler
psycopg2-binary==2.9.9
# بدلاً من weasyprint==57.0
weasyprint
pydyf
webcolors
Flask-Mail==0.9.1

openpyxl
pandas
xlrd

# requirements.txt
boto3==1.34.0
botocore==1.34.0
qrcode[pil]>=7.4.2